<div class="card-container">
    <form (ngSubmit)="loginUser()" class="card bg-dark text-light">
      <h1 class="heading">Log In</h1>
  
  <div class=" col-6 mx-auto align-items-center">
    <div class="col-auto">
      <label for="inputUsername" class="col-form-label">UserName</label>
    </div>
    <div class="col-auto">
      
      <input 
      [(ngModel)]="user.userName"
      placeholder="Enter Your Username "
      type="email"  
      name="userName" 
      class="form-control" 
      >
      
    </div>
    
    
  </div>
  
  <div class=" col-6 mx-auto  align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Password</label>
    </div>
    <div class="col-auto">
      
      <input 
      [(ngModel)]="user.password"
      placeholder="Enter Your Password "
      type="password"
      name="password" 
      class="form-control" 
      >
      
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text-light">
        <p>
  
          Must be 8-20 characters long.
        </p>
      </span>
    </div>
  </div>
  <br>
  <div class=" col-6 mx-auto row g-3">
    
    <button class="btn btn-primary" type="submit" >Log In</button>
    <a routerLink="/register">Register</a>
  </div>
</form>
  </div> 