.container {
    border-radius: 10px;
    position: relative;
  }
  #addBtn{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
 
   
 
   
    
  }
  
  #listContainer {
    display: flex;
    align-items: center;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  #name {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: left;
    padding-left: 15px;
  }
  
  #description {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: center;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 5px;
  }
  
  .col-md-5 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: center;
  }
  
  #deletebtn:hover, #editbtn:hover {
    width: 50px;
    height: 50px;
  }
  
  #deletebtn:hover {
    background-color: red;
  }
  
  #editbtn:hover {
    background-color: green;
  }
  
  @media (min-width: 768px) {
    .container {
      width: auto;
    }
  }
  